/* Bootstrap Overriden */
header{padding:5px;box-shadow:0 1px 0 rgba(12,13,14,0.1),0 1px 6px rgba(60,65,70,0.1);border-top:3px solid #62c8fa;background-color:#fafafb;position:fixed;top:0;left:0;width:100%;display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;align-content:center}
header>div.row{height:40px;line-height:40px}
section{background-color:#fcfcfc;padding:5px}
header nav{display:inline-block}
nav>ul,footer ul{margin:0;padding:0;display:inline-block}
header nav>ul>li{display:inline-block}
body{display:flex;flex-direction:column;padding-top:50px}
.bg-primary{background:linear-gradient(45deg,#337ab7,#52b5ff)}
.btn-primary{background-color:#4993d6}
.btn-primary:hover{background-color:#3e7dbc}
.help-block{display:none}
footer {
    display: flex;
    color: #6a737c;
    background-color: #242729;
    padding: 10px;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
footer>* {
    padding: 10px;
}
.footer-title{font-weight: bold;font-size: 14px;color: #bbc0c4;margin-bottom: 6px;}
footer li {
    list-style: none;
    padding: 3px 0px;
}
footer li a{color:#848d95;}
footer li a:hover{color:#bbc0c4;text-decoration:none;}

/* Custom CSS */
.webTitle{font-size:24px;vertical-align:middle;font-family:monospace;padding-left:10px}
.webTitle.short{display:none}
logo img{height:30px}
@media only screen and (max-width:450px) {
	.webTitle.short{display:inline-block}
	.webTitle.full{display:none}
}
