@font-face {
    font-family: 'icomoon';
    src:url('/public/fonts/icomoon.eot');
    src:url('/public/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/icomoon.woff') format('woff'),
        url('/public/fonts/icomoon.ttf') format('truetype'),
        url('/public/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
.icon-lock, .icon-unlocked, .icon-heart {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* 
    Use these class names at html element
    or you can enter unicode inside element's html
    unicode value = "&#x"+"value of content without slash"+";"
    eg. cake-solid content = '\e900' then unicode='&#xe900;'
*/
.icon-lock:before{content:'\e98f'}
.icon-unlocked:before{content:'\e990'}
.icon-heart:before{content:'\e9da'}